<legend>Informations générales</legend>
{{ form_row(form.acte_conditionne, { 'label': 'Est ce un patient'}) }}
  {{ form_row(form.beneficiaire, { 'label': 'Bénificiaire'}) }}
 {{ form_row(form.patient, { 'label': 'Patient'}) }}
 {{ form_row(form.date_naissance, { 'label': 'Date naissance'}) }}
   {{ form_row(form.date_demande, { 'label': 'Date de demande'}) }}
  {{ form_row(form.consultation, { 'label': 'Consultation'}) }}
  {{ form_row(form.dispense_frais, { 'label': 'Dispense de frais'}) }}
 {{ form_row(form.amc_organism, { 'label': 'Organisme AMC'}) }}
{{ form_row(form.regime_paiement, { 'label': 'Régime Paiement'}) }}

<legend>Actes</legend>
<ul class="actes" data-prototype="{{ form_widget(form.actes.vars.prototype)|e('html_attr') }}">
    {# iterate over each existing tag and render its only field: name #}
    {% for tag in form.actes %}
        <li>{{ form_row(acte.name) }}</li>
    {% endfor %}
</ul>
{{ form_row(form.actes, { 'label': 'Actes'}) }}
  {#{{ form_row(form.city, { 'label': 'Ville'}) }}
  {{ form_row(form.gsm, { 'label': 'GSM'}) }}
  {{ form_row(form.email, { 'label': 'E-Mail'}) }}
  {{ form_row(form.nss, { 'label': 'N° de couverture sociale'})  }}

  <legend>Partie handicap</legend>
  {{ form_row(form.ishandicap, { 'label': 'Handicap ?'}) }}
  {{ form_row(form.handicap, { 'label': 'Nature de l’handicap'}) }}
  {{ form_row(form.needs, { 'label': 'Besoins spécifiques'}) }}
  {{ form_rest(form) }} #}

<script type="text/javascript">

</script>

  