<!DOCTYPE html>
<!--
         ===================================================================
        ||          designed & developed by embaya.majed@gmail.com          ||
         ===================================================================
-->
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="application-name" content="doctors"/>
    <meta name="author" content="embaya.majed@gmail.com">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>

    <link href="{{ absolute_url(asset('bootstrap/css/bootstrap.css')) }}" rel="stylesheet">
    <!--<link href="{{ absolute_url(asset('css/layout.css')) }}" rel="stylesheet">
    <link href="{{ absolute_url(asset('css/main.css')) }}" rel="stylesheet">
    <link href="{{ absolute_url(asset('css/select2.css')) }}" rel="stylesheet">-->
    <style>{{ app_config.app_css }}</style>
</head>
<body>
<div class="container-fluid">
    </br></br>
    <div class="row">
        <div class="col-xs-6">
            <h3>Docteur {{ entity.user.getFullName() }}</h3>
            {{ entity.user.speciality.description }}</br>
            {{ entity.user.matricule }}</br></br>
            {{app_config.app_address}}<br/>
            {{app_config.app_cp}} {{app_config.app_city}}<br/>
            Cabinet : {{app_config.app_tel}}<br/>
            Fax : {{app_config.app_fax}}<br/>
        </div>
        <div class="col-xs-6 pull-right">
            {{ barcodeHTML|raw }}
        </div>
    </div>
    <div class="row">
        <hr style="border-top: 4px solid #000;"/>
    </div>
    <div class="row">
        <div class="pull-right col-md-offset-4">{{app_config.app_city}} le, {{ entity.created|date("d F Y", "Europe/Paris") }}</div>
    </div>
    <br/>
    <div class="row">
        Patient : {% if entity.person.gender== "Masculin" %} Mr. {% else %} Mme {% endif %}{{ entity.person.fullname }}
        <br/>
        Age : {{ entity.person.birthday|age}} Ans
    </div>
    <br/>
    <br/>
    {% for item in entity.consultationmeds %}
        <div class="row">
            <div class="col-md-8">{{ item.meds.name }}</div>
            <div class="pull-right col-md-4">{{ item.count}} Bte{% if item.count > 1 %}s{% endif %}</div>
        </div>
    {% endfor %}
    <br/>
    <br/>
    <div class="row hidden">
        <div class="col-xs-6">vide</div>
        <div class="col-xs-6">signature</div>
    </div>
</div>

</body>
</html>
